<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448982881189-3c8d0inadj6apbcensdfou1ta76g7eku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448982881189-3c8d0inadj6apbcensdfou1ta76g7eku</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448982881189-iskbucfk9dm6kglr2ae8k5vpk0rgqaaf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANWD0-U-5aHgeIf_SNx4KtMmd8iZhJiJs</string>
	<key>GCM_SENDER_ID</key>
	<string>448982881189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yellowClass</string>
	<key>PROJECT_ID</key>
	<string>yellowclass-cbbfe</string>
	<key>STORAGE_BUCKET</key>
	<string>yellowclass-cbbfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448982881189:ios:97c4db86b22b0d9d4f0e4c</string>
</dict>
</plist>